body {
    color: #0A090C;
    background: #F0EDEE;
    padding: 0; /* внутренний отступ */
    margin: 0; /* внешний отступ */
}

.navigation {
    background: #07393E;
    padding: 10px;
}

.navigation-link {
    color: #F0EDEE;
    text-decoration: none; /* убрать нижнее подчеркивание */
    margin-left: 20px;
}

.banner {
    height: 200px;
    text-align: center;
    padding-top: 50px;
    background-color: #80d7af;
}

.titles {
    text-align: center;
}

.images_gallery {
    display: inline-block;
    vertical-align: top;
    margin: 10px;


}

.navigation-logo {
    width: 23px;
    line-height: 50px;
    vertical-align: bottom;
}

.aboutme {
    text-align: center;
    margin-top: 150px;
}

.aboutme-p {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 30%;
    margin-right: 30px;
}

.aboutme-img {
    display: inline-block;
    width: 40%;
}

.aboutme-img img {
    width: 100%;
}

.contact_me {
    width: 500px;
    margin: auto;
    margin-bottom: 100px;
}

.contact_me-h2 {
    text-align: center;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #5897fb;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: white;
}

.form-button:hover {
    background-color: #4d88e6;
}

.auth {
    float: right;
}
.error_text {
    text-align: center;
    color: #ff4646;
    font-size: 12px;
}

.auth-form {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
}

.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}