<!doctype html> <!-- мы хотим использовать последнюю версию html -->
<html lang="en"> <!-- наша страница -->
<head> <!-- настройка сайта -->
    <meta charset="UTF-8"> <!-- поддержка русских символов -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <!-- поддержка мобильных устройств -->
    <title>Блок Егор Путешественника</title> <!-- названия сайта -->
</head>
<body> <!-- содержимое сайта -->
<div>
    <a href="/photo/">Фотографии</a>
    <a href="/secondpage/">Вторая страница</a>
</div>
<h1>Личный блог Егора Путешественника</h1> <!-- заголовок -->
<p>
    Привет всем, меня зовут Егор, мне 17 лет. <br>
    Я люблю ездить на велосипеде и делать красивые фотографии. <br>
    На этом сайте, вы сможете смотреть фотографии <br>
    и писать свои комментарии
</p> <!-- текст -->
<img width="500" src="https://oir.mobi/uploads/posts/2021-06/1623937307_5-oir_mobi-p-krasivii-rassvet-v-derevne-priroda-krasivo-5.jpg">
<br>
</body>
</html>